<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bookpage1</title>
</head>
<body>
    {% if page %}
    <table border="1">
        {% for item in page %}
        <tr><th>{{ item.title }}</th></tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if page.has_previous %}
        <a href="/index/book_page?page={{ page.previous_page_number }}">上一页</a>
    {% else %}
        <a>上一页</a>
    {% endif %}

    {% for p in page.paginator.page_range %}
        {% if p > 3 %}
            ...
        {% elif p == page.number %}
            {{ p }}
        {% else %}
            <a href="/index/book_page?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
        <a href="/index/book_page?page={{ page.next_page_number }}">下一页</a>
    {% else %}
        <a>下一页</a>
    {% endif %}
</body>
</html>